<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.LocationStudyMapper">
    <resultMap id="BaseResultMap" type="model.LocationStudy">
        <id column="nct_id" jdbcType="VARCHAR" property="nctId"/>
        <id column="zip" jdbcType="INTEGER" property="zip"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
    nct_id, zip, name
  </sql>
    <select id="selectByPrimaryKey" parameterType="model.LocationStudyKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from location_study
        where nct_id = #{nctId,jdbcType=VARCHAR}
        and zip = #{zip,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="model.LocationStudyKey">
    delete from location_study
    where nct_id = #{nctId,jdbcType=VARCHAR}
      and zip = #{zip,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="model.LocationStudy">
    insert into location_study (nct_id, zip, name
      )
    values (#{nctId,jdbcType=VARCHAR}, #{zip,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="model.LocationStudy">
        insert into location_study
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nctId != null">
                nct_id,
            </if>
            <if test="zip != null">
                zip,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nctId != null">
                #{nctId,jdbcType=VARCHAR},
            </if>
            <if test="zip != null">
                #{zip,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="model.LocationStudy">
        update location_study
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where nct_id = #{nctId,jdbcType=VARCHAR}
        and zip = #{zip,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="model.LocationStudy">
    update location_study
    set name = #{name,jdbcType=VARCHAR}
    where nct_id = #{nctId,jdbcType=VARCHAR}
      and zip = #{zip,jdbcType=INTEGER}
  </update>
</mapper>